{% extends '::base.html.twig' %}

{% block title %} Musique {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/musics/music.css') }}" />
{% endblock %}

{% block body %}
    <h2>Liste de toutes les musiques</h2>
    <div class="content-table col-sm-10">
        <table id="table-musics" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead >
            <th>ARTISTE</th>
            <th>ALBUM</th>
            </thead>
            <tbody>
            {% for music in musics %}
                <tr data-album="{{ music.idAlbum }}" data-artiste="{{ music.idArtiste }}">
                    <td>{{ music.Artiste }}</td>
                    <td>{{ music.Album }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/musics/music.js') }}"></script>
    <script>
        $(document).ready(function () {
            musics.init($('#table-musics'));
        });
    </script>
{% endblock %}